<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Confirmed</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
            text-align: center;
        }

        .container {
            border: 1px solid #ccc;
            padding: 20px;
            background-color: #f9f9f9;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
    </style>
    <script src="@Url.Action("Serve","Authentication", new {id = "delottiePlayer"})" type="module"></script>
</head>
<body>
    <div class="container">
        <dotlottie-player src="@Url.Action("Serve","Authentication", new {id = "veryifyAnimation"})"
                          background="transparent" speed="1" style="width: 200px; height: 200px" direction="1"
                          playMode="normal" loop autoplay>
        </dotlottie-player>
    </div>
    <h3>Your email has been confirmed. You can now log in</h3>
</body>
</html>